<h1>会員詳細</h1>


<% @members.each do |member| %>



<ul>
<li><%="会員ID:#{member[:id]}" %></li>
<li><%= "氏名:#{member[:name]}" %></li>
<li><% if member[:sex] == 0 %>
  <td>性別:男性</td>
<% else %>
  <td>性別:女性</td>
<% end %></li>
<li><%= "年齢:#{member[:age]}" %></li>
<ul>



<% end %>
